<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout::head"></head>
<body>
<h3>Employee Management</h3>
<a th:href="@{/create}">Add new employee</a>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Avatar</th>
        <th>Gender</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>

    <tr th:each="e: ${employees}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.name}"></td>
        <td th:text="${e.date}"></td>
        <td><img width="100" height="100" th:src="@{'/image/' + ${e.avatar}}"></td>
        <td th:utext="${e.gender}"></td>
        <td><a th:href="@{/detail/{id}(id=${e.getId()})}">Detail</a></td>
        <td><a th:href="@{/edit/{id}(id=${e.getId()})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${e.getId()})}">Delete</a></td>

    </tr>
</table>
<footer th:replace="/layout::footer"></footer>
</body>
</html>